/* 行为相关颜色 */
$color-primary: #FF4A2A;
// $color-sub: #FFA127; // 辅助颜色
$color-success: #4cd964;
$color-warning: #f0ad4e;
$color-error: #dd524d;

$color-gradient-primary: linear-gradient(180deg,rgba(255,96,39,1) 0%,rgba(255,74,42,1) 100%);

$color-gradient-sub: linear-gradient(180deg,rgba(255,161,39,1) 0%,rgba(255,143,42,1) 100%);

$color-button-primary: #FB4625;

$color-border: #eee;